<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dong.test.mapper.MobileTransferMapper">

    <resultMap id="BaseResultMap" type="com.dong.test.domain.MobileTransfer">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="transferNumber" column="transfer_number" jdbcType="VARCHAR"/>
            <result property="areaCode" column="area_code" jdbcType="VARCHAR"/>
            <result property="initIsp" column="init_isp" jdbcType="INTEGER"/>
            <result property="nowIsp" column="now_isp" jdbcType="INTEGER"/>
            <result property="isTransfer" column="is_transfer" jdbcType="TINYINT"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="createId" column="create_id" jdbcType="BIGINT"/>
            <result property="updated" column="updated" jdbcType="TIMESTAMP"/>
            <result property="updateId" column="update_id" jdbcType="BIGINT"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="extend1" column="extend1" jdbcType="VARCHAR"/>
            <result property="extend2" column="extend2" jdbcType="VARCHAR"/>
            <result property="extend3" column="extend3" jdbcType="VARCHAR"/>
            <result property="extend4" column="extend4" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,transfer_number,area_code,
        init_isp,now_isp,is_transfer,
        created,create_id,updated,
        update_id,is_delete,extend1,
        extend2,extend3,extend4
    </sql>
    <select id="findAll" resultType="com.dong.test.domain.MobileTransfer">
        select transfer_number,now_isp from mobile_transfer where is_transfer = 1 and is_delete = 0;
    </select>
</mapper>
